.navbar {
	position: relative;
	width: 100vw;
}

.navbarTitleOne {
	left: 25%;
	transform: translate(-75%);
}

.navbarTitleTwo {
	left: 50%;
	transform: translate(-50%);
}

.navbarTitleThree {
	left: 75%;
	transform: translate(-25%);
}

.navbarTitleOne, .navbarTitleTwo, .navbarTitleThree {
	position: absolute;
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 4vh;
	text-decoration: none;
	color: #c9b79b;
	border: 0.2vh solid #4fd8d6;
	border-radius: 3vh;
	padding: 1vh;
}

.navbarTitleOne:hover, .navbarTitleTwo:hover, .navbarTitleThree:hover {
	background-color: rgba(79, 216, 214, 0.1);
}