.switcher {
  position: fixed;
  top: 1vh;
  right: 1vw;
  display: flex;
  gap: 1vh;
  z-index: 10;
}

.button {
  padding: 0.4vh 0.8vw;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3vh;
  transition: all 0.2s ease-in-out;
  font-size: 2vh;
  font-family: Orbitron, Verdana, sans-serif;
}

.active {
  background-color: #1f2937;
  color: #4fd8d6;
  text-shadow: 1px 1px 4px #4fd8d6;
}

.inactive {
  background-color: #4fd8d6;
  color: #1f2937;
}

.button:hover {
  transform: scale(1.05);
}
