.linkedInIcon, .whatsappIcon, .telegramIcon, .instagramIcon, .youtubeIcon, .discordIcon {
	position: absolute;
}

.linkedInIcon, .discordIcon {
	top: 7%;
}

.linkedInIcon, .whatsappIcon, .instagramIcon {
	left: 16%;	
}

.discordIcon, .telegramIcon, .youtubeIcon {
	right: 16%;
}

.whatsappIcon, .telegramIcon {
	top: 50%;
	transform: translateY(-50%);
	scale: 1.1;
}

.instagramIcon, .youtubeIcon {
	bottom: 7%;
}

.discordIcon {
	scale: 1.1;
}

.linkedInIcon:hover, .githubIcon:hover, .codepenIcon:hover, .youtubeIcon:hover, .instagramIcon:hover {
	scale: 1.2;
}

.whatsappIcon:hover, .telegramIcon:hover, .discordIcon:hover {
	scale: 1.3;
}

@media (min-width: 1921px) {
	.linkedInIcon, .whatsappIcon, .telegramIcon, .instagramIcon, .youtubeIcon, .discordIcon {
		scale: 2.5;
	}

	.discordIcon {
		scale: 2.7;
	}
	
	.linkedInIcon:hover, .youtubeIcon:hover, .instagramIcon:hover {
		scale: 2.7;
	}
	
	.whatsappIcon:hover, .telegramIcon:hover, .discordIcon:hover {
		scale: 2.9;
	}
}

@media (max-width: 854px) and (orientation: landscape) {
	.linkedInIcon, .whatsappIcon, .telegramIcon, .instagramIcon, .youtubeIcon, .discordIcon {
		scale: 0.8;
	}

	.discordIcon {
		scale: 0.9;
	}
}

@media (max-width: 480px) and (orientation: portrait) {
	.linkedInIcon, .whatsappIcon, .telegramIcon, .instagramIcon, .youtubeIcon, .discordIcon {
		scale: 0.5;
	}

	.discordIcon {
		scale: 0.6;
	}

	.linkedInIcon, .whatsappIcon, .instagramIcon {
		left: -2%;	
	}
	
	.youtubeIcon, .telegramIcon, .discordIcon {
		right: -2%;
	}
}
