.linkedInIcon, .whatsappIcon, .telegramIcon, .instagramIcon, .youtubeIcon, .discordIcon, .githubIcon, .codepenIcon {
	position: absolute;
}

.linkedInIcon, .githubIcon, .codepenIcon {
	top: 7%;
}

.githubIcon, .codepenIcon {
	background-color:  #ffffff;
	border-radius: 12vh;
}

.linkedInIcon, .whatsappIcon, .instagramIcon {
	left: 16%;	
}

.githubIcon, .youtubeIcon {
	left: 47.5%;
}

.codepenIcon, .telegramIcon, .discordIcon {
	right: 16%;
}

.whatsappIcon, .telegramIcon {
	top: 50%;
	transform: translateY(-50%);
	scale: 1.1;
}

.instagramIcon, .youtubeIcon, .discordIcon {
	bottom: 7%;
}

.discordIcon {
	scale: 1.1;
}

.linkedInIcon:hover, .githubIcon:hover, .codepenIcon:hover, .youtubeIcon:hover, .instagramIcon:hover {
	scale: 1.2;
}

.whatsappIcon:hover, .telegramIcon:hover, .discordIcon:hover {
	scale: 1.3;
}

@media (min-width: 1921px) {
	.linkedInIcon, .whatsappIcon, .telegramIcon, .instagramIcon, .youtubeIcon, .discordIcon, .githubIcon, .codepenIcon {
		scale: 2.5;
	}
	
	.githubIcon, .youtubeIcon {
		left: 49%;
	}

	.discordIcon {
		scale: 2.7;
	}
	
	.linkedInIcon:hover, .githubIcon:hover, .codepenIcon:hover, .youtubeIcon:hover, .instagramIcon:hover {
		scale: 2.7;
	}
	
	.whatsappIcon:hover, .telegramIcon:hover, .discordIcon:hover {
		scale: 2.9;
	}
}

@media (max-width: 1366px) and (orientation: landscape) {
	.githubIcon, .youtubeIcon {
		left: 50%;
		transform: translateX(-50%);
	}
}

@media (max-width: 1024px) and (orientation: portrait) {
	.githubIcon, .youtubeIcon {
		left: 50%;
		transform: translateX(-50%);
	}
}

@media (max-width: 854px) and (orientation: landscape) {
	.linkedInIcon, .whatsappIcon, .telegramIcon, .instagramIcon, .youtubeIcon, .discordIcon, .githubIcon, .codepenIcon {
		scale: 0.8;
	}

	.githubIcon, .youtubeIcon {
		left: 49%;
		transform: translateX(-51%);
	}

	.discordIcon {
		scale: 0.9;
	}
}

@media (max-width: 480px) and (orientation: portrait) {
	.linkedInIcon, .whatsappIcon, .telegramIcon, .instagramIcon, .youtubeIcon, .discordIcon, .githubIcon, .codepenIcon {
		scale: 0.5;
	}

	.discordIcon {
		scale: 0.6;
	}

	.linkedInIcon, .whatsappIcon, .instagramIcon {
		left: -2%;	
	}
	
	.githubIcon, .youtubeIcon {
		left: 44%;
		transform: translateX(-56%);
	}
	
	.codepenIcon, .telegramIcon, .discordIcon {
		right: -2%;
	}
}
