.header {
	position: fixed;
	margin: 0;
	height: 7.75vh;
	background: linear-gradient(to right, rgba(0, 51, 102, 1) 10%, rgba(85, 107, 47, 1));
	z-index: 1;
}

/* 1080p resolution */
@media (min-width: 1921px) {}

/* IPad pro 12.9 Inch resolution */
@media (max-width: 1366px) and (orientation: landscape) {
	.portrait {
		width: 23vw;
	}

	.aboutMeTextContainer {
		margin-top: 9vh;
	}

	.contactDataContainer {
		gap: 3vw;
	}
}

@media (max-width: 1024px) and (orientation: portrait) {
	.navbarTitle {
		font-size: 3vh;
	}
	
	.aboutMeContainer {
		flex-direction: column;
	}

	.portraitContainer{
		margin: 0 auto;
		margin-top: 8vh;
	}
	.portrait {
		width: 27.5vw;
		height: 30vh;
	}

	.aboutMeTextContainer {
		margin-top: 0;
	}

	.aboutMeSubtitle {
		font-size: 2vh;
	}

	.aboutMeText {
		font-size: 1.5vh;
		margin: 0.7vh auto;
	}

	.contactDataContainer {
		gap: 8vw;
	}
	.contactFormularTitle {
		flex-direction: column;
		text-align: center;
	}
}

/* IPad pro 11 Inch resolution */
@media (max-width: 834px) and (orientation: portrait) {
	.contactDataContainer {
		gap: 4vw;
	}
}

/* IPad Mini resolution */
@media (max-width: 1024px) and (orientation: landscape) {
	.contactDataContainer {
		gap: 0;
	}
}

@media (max-width: 768px) and (orientation: portrait) {
	.contactDataContainer {
		gap: 1vw;
	}
}

/* Smartphone resolution */
@media (max-width: 854px) and (orientation: landscape) {
	.header {
		height: 12vh;
	}
	
	.navbarTitleOne, .navbarTitleTwo, .navbarTitleThree {
		font-size: 7vh;
	}
	
	.portraitContainer, .aboutMeTextContainer {
		margin-top: 15vh;
	}
	
	.portrait {
		width: 25vw;
		height: 80vh;
	}

	.aboutMeSubtitle {
		font-size: 5vh;
	}

	.aboutMeText {
		font-size: 4vh;
	}

	.footerContainer {
		height: 185vh;
	}

	.contactTitle, .contactData, .contactMailTitle, .contactMail, .contactNumberTitle, .contactNumber, .contactFormularTitle, .contactFormularButton {
		font-size: 4vh;
	}

	.contactFormularTitle, .contactFormularButton {
		font-size: 5vh;
	}
}

@media (max-width: 480px) and (orientation: portrait) {
	.header {
		height: 5.4vh;
	}
	
	.navbarTitleOne, .navbarTitleTwo, .navbarTitleThree {
		font-size: 2.5vh;
	}
	
	.portrait {
		width: 46vw;
	}

	.aboutMeSubtitle {
		font-size: 2.5vh;
	}
	
	.aboutMeText {
		font-size: 2vh;
	}

	.contactDataContainer {
		flex-direction: column;
		gap: 0;
		align-items: center;
	}
}