// Base Colors
$text-color: #ffffff;
$text-light: #555555;
$background-color: #000000;
$accent-color-1: #003366; // Marineblau
$accent-color-2: #556b2f; // Olivgrün
$headings-color-1: #c9b79b;   // Sandbeige
$headings-color-2: #8bd3c7;     // Salbei-Grün
$border-color: #32967866; // Transparenter Grünton
$border-color-blk: #000000;

// Font Sizes
$font-size-base: 16px;
$font-size-h1: 3rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2rem;

// Breakpoints
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
